body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}




  
.videoshadow img {
-webkit-box-shadow: 0px 0px 14px 10px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 14px 10px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 14px 10px rgba(50, 50, 50, 0.75);
}  
.photoshadow img {
-webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 0px 12px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 0px 12px rgba(0, 0, 0, 1);
}

.center-video
{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 1000px;
  height: 850px;
}

.center-loginvideo
{
  position: absolute;
  margin: auto;
  top: 400px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 500px;
  height: 375px;
}

.center-foto
{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 500px;
  height: 850px;
}

.center-buttons
{
  position: absolute;
  margin: auto;
  top: 1400;
  bottom: 0;
  right: 0;
  left: 0;
  width: 1500px;
  height: 900px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
