{% extends "layout.html" %}
{% block title %}Page{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/captura.js"></script>
{% endblock %}
{% block content %}

			<div id="video_on" class="videoshadow col-lg-1 center-video" style="display:block;">
				<img id="bg-media-content" width="1000px" height="750px" class="img-rounded" src="/video_feed">
			</div>
			<div id="photo_on" class="photoshadow  col-lg-1 center-foto" style="display:none;">
				<img id="foto" src=""   class="img-rounded">
			</div>

	  <div class="center-buttons">
		<button id="btn-manual"  onclick="ajaxURL('/foto');" class="button button1" placeholder=".col-xs-3"  style="display:block;"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;&nbsp;Foto manual [espai])</button>
		<button id="btn-repetir" onclick="ajaxURL('/takeagain');" class="button button1" placeholder=".col-xs-3"  style="display:none;"><i class="icon-camera"></i>&nbsp;&nbsp;Repetir foto [R]</button>
        <button id="btn-acabar"  onclick="disconnect_save();"  class="button button1" placeholder=".col-xs-3"  style="display:none;"><i class="icon-ok"></i>&nbsp;&nbsp;Acceptar i acabar [enter]</button>
        <button id="btn-discard"  onclick="disconnect_discard();"  class="button button1" placeholder=".col-xs-3"  style="display:block;"><i class="icon-ok"></i>&nbsp;&nbsp;Descartar [ESC]</button>
     </div>
{% endblock %}

