<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %} - Fotomatónl</title>
    <link href="static/css/fotomaton.css" rel="stylesheet">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/fotomaton.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
