{% extends "layout.html" %}
{% block title %}Gestió de fotografies personals{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}
{% block content %}
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Fotomatón</h2>

  <form class="login-container" id="login" action="/" method="post" data-toggle="validator" role="form" autocomplete="off" >
    <p>
      <input type="text" id="NIF_NIE" name="NIF_NIE" class="form-control input-lg" onInput="checkLength(this)"
        autofocus="autofocus" 
         placeholder="Introdueix el teu NIF/NIE"
         style="text-transform:uppercase"   value="" pattern="^([_A-z0-9]){9,}$" required />
<!--
      <input type="text" id="NIF_NIE" name="NIF_NIE" class="form-control input-lg"
        autofocus="autofocus" 
         placeholder="Introdueix el teu NIF/NIE"
         style="text-transform:uppercase"   value="" pattern="^([_A-z0-9]){9,}$" maxlength="9" required />
-->
    </p>
         <p style="text-align: center;vertical-align: middle;color:red;">{{error}}</p>
      <p style="text-align:center"><span class="help-block with-errors">Utilitzeu només lletres i nombres. Longitud mínima de 9 caràcters.</span> </p>   
      <p><input type="submit" value="Validar"></input></p>
  </form>
</div>
<br>
<div id="video_on" class="videoshadow col-lg-1 center-loginvideo" style="display:block;">
    <img id="bg-media-content" width="500px" height="375px" class="img-rounded" src="/loginvideo_feed">
</div>
{% endblock %}
