{% extends "layout.html" %}
{% block title %}Page{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Page</h1>
  <p class="important">
    This is a homepage.
{% endblock %}
